@media all and ( max-width : 768px ) {
body {
    padding: 0;
}

header {
    flex-direction: column;
}

header #logo {
    margin: auto;
}
header nav ul {
    margin: 0px -20px;
    padding: 0;
}

header nav ul li {
    width: 50%;
    padding: 20px;
    text-align: center;
    margin: 0px;
    border-top: none;
    border-bottom: 2px solid #F2F2F2;
    padding-left: 60px;
    padding-right: 60px;
}
#bouton{
    display: none;
}

.zone-recherche .fa-magnifying-glass {
    display: block;
    border-radius: 15px;
    background-color: #0065fc;
    padding: 15px 15px 15px 15px;
    cursor: pointer;
    margin-left: -5px;
    color: white;
}

#filtre {
    flex-direction: column;
    align-items: flex-start;
}
/******HEBERGEMENTS******/
.card.card-horizontal .image-responsive{
    width: 100%;
    height: 130px;
}
.card .image-responsive{
    width: 100%;
    height: 130px;
}
.bloc-container > .bloc-content{
    margin: 0;
}
.bloc-card1{
    border-radius: 0px;

}
.bloc-card2{
    background-color: white;
}

.bloc-container{
    display: flex;
    flex-direction: column-reverse;
}
.all-card1{
    margin: -15px;
}
.card1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 30px;
    display: flex;
    background-color: white;
    margin: 15px;
    flex: 1;
    min-width: 360px;
    flex-direction: column;
}
.bloc-container3{
    margin: -20px;
}
.all-card3{
    display: flex;
    flex-direction: column;
}
.duo-card3{
    display: flex;
    flex-direction: column;
}
.card1 .card-image1{
    width: 100%;
    height: 130px;
}
.card2 .card-image2 {
    width: 100%;
    height: 130px;
}
.card3 .card-image3{
    width: 100%;
    height: 130px;
}
.card4 .card-image4{
    width: 100%;
    height: 130px;
}
.card5 .card-image5{
    width: 100%;
    height: 130px;
}
/******FOOTER******/
footer {
    flex-direction: column;
}
#propos
{
    margin-left: 0px;
}
#aide{
    margin-right: 0px;
}
}